.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  font-family: 'Pacifico';
  font-size: 25px;
  line-height: 44px;
  background-color: var(--main-color);
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

.logo:hover {
  background-color: var(--hover);
}

.logo:focus {
  border: 2px solid #fff;
  outline: none;
}

.logo:active {
  color: var(--main-color);
  background-color: #fff;
}

@media (max-width: 1024px) {
  .logo {
    width: 60px;
    height: 60px;
    font-size: 22px;
    line-height: 39px
  }
}

@media (max-width: 480px) {
  .logo {
    width: 30px;
    height: 30px;
    font-size: 11px;
    line-height: 19px;
  }
}